body{
    font-family: 'Varela Round', sans-serif;
  }

  /*START OF NAVIGATION BAR*/
  .navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
        font-size: 14px;
  }

  .navbar .dropdown-menu.form-wrapper a {
    color: #33cabb;
    padding: 0 !important;
  }

  .navbar .dropdown-menu.form-wrapper a:hover{
    text-decoration: underline;
  }

  .navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
  }

  .navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
    }

  .navbar .social-btn .btn-primary {
    background: #507cc0;
  }

  .navbar .social-btn .btn-primary:hover {
    background: #4676bd;
  }

  .navbar .social-btn .btn-info {
    background: #64ccf1;
  }

  .navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
  }

  .navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
  }

  .navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
  }

  .navbar .form-wrapper .form-footer a:hover{
    text-decoration: underline;
  }

  .navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
  }

  .or-seperator {
        margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    }

    .or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
    }

    @keyframes blink{
      0%{opacity: 0;}
      50%{opacity: .5;}
      100%{opacity: 1;}
    }

    /*END OF NAVIGATION BAR*/

    .topimg{
      color: white;
      margin:0px;
      background-image: linear-gradient(to bottom, #0C4464,#104464);;
      background-repeat:no-repeat;
      z-index: 0;
      background-size: 100% 100%;
      width: 100%;
      height: 600px;
      text-align: center;
    }

    .button {
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 25px 80px;
        display: inline-block;
        margin: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .button:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }

      .button-4>.fa {
      position: absolute;
      height: 100%;
      font-size: 125%;
      line-height: 3.5;
      color: #fff;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      }

      .button-4a>.fa {
        left: 130%;
        top: 0;
      }

      .button-4a:hover>.fa {
        left: 80%;
      }

      .button-4b>.fa {
        left: -50%;
        top: 0;
      }

    .button-4 {
      border-radius: 50px;
      border: 3px solid #fff;
      color: #fff;
      overflow: hidden;
    }

    .button-4:hover {
        background: #1AC8DB;
    }

    .icon-round-border {
        border: 10px double #1A94C4;
        color: #2f9484;
        text-align: center;
        padding-top: 15px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .header-line {
        font-weight: 900;
        font-size: 25px;
        padding-bottom: 5px;
        padding-top: 25px;
        color: #000;
    }

    h1::after {
        content: " ";
        border: solid 2px #2f9484;
        display: block;
        width: 200px;
        margin: 12px auto;
    }
    .about-div hr {
        border: 1px solid #1A94C4;
    }

    .about-div h3 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .about-div p {
        padding-top: 10px;
    }

    .btn-set {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        margin-bottom: 20px;
    }
    .col-lg-4{
      margin-left: 4px;
      margin-right: 4px;
      text-align: center;
      padding: 5px;
      border: 1px solid grey;
    }

    .column {
      float: left;
      width: 25%;
      margin-bottom: 16px;
      padding: 0 8px;
      border-radius: 3px 3px 3px 3px;
    }

    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 0 16px;
    }

    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .title {
      color: grey;
    }
    .card p{
      text-align: justify;
    }


    .tag-line {
        background: #E9E9E9;
        color: #000;
    }

    .tag-line h2 {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 10px 10px 5px;
        color: #005E5A;
    }

      .tag-line h2 > i {
        margin-left: 8px;
        margin-right: 8px;
    }

    .career{
      border: 1px solid grey;
    }

    .column{
      text-align: justify;
    }

    .contact{
      background-color: #F4FBFB;
      text-align: justify;
    }
    .contact p{
      font-family: helvetica,serif;
      font-size: 20px;
    }

    .contact img{
      margin-left: 5px;
    }


    #footer {
        padding:5px 20px;
        background-color:#2d3d5a;
        text-align:right;
        color:#fff;
        font-size:15px;
    }
